<!-- 
© Copyright 2015 Flytxt BV. ALL RIGHTS RESERVED.

All rights, title and interest (including all intellectual property rights) in this software and any derivative works based upon or derived from
this software belongs exclusively to Flytxt BV. Access to this software is forbidden to anyone except current employees of Flytxt BV and its
affiliated companies who have executed non-disclosure agreements explicitly covering such access. While in the employment of Flytxt BV or its
affiliate companies as the case may be, employees may use this software internally, solely in the course of employment, for the sole purpose of
developing new functionalities, features, procedures, routines, customizations or derivative works, or for the purpose of providing maintenance or
support for the software. Save as expressly permitted above, no license or right thereto is hereby granted to anyone, either directly, by
implication or otherwise. On the termination of employment, the license granted to employee to access the software shall terminate and the software
should be returned to the employer, without retaining any copies.

This software is (i) proprietary to Flytxt BV; (ii) is of significant value to it; (iii) contains trade secrets of Flytxt BV; (iv) is not publicly
available; and (v) constitutes the confidential information of Flytxt BV. Any use, reproduction, modification, distribution, public performance or
display of this software or through the use of this software without the prior, express written consent of Flytxt BV is strictly prohibited and may
be in violation of applicable laws.
-->
<script src="../lodash/lodash.js"></script>
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../hateoas-ajax/hateoas-ajax.html">
<link rel="import" href="../xhr-handler/xhr-handler.html">

<!--
A web component that provides a wrapper for HATEOAS api.

Example:

    <app-api id="api"></app-api>
    Within your pages, u can use api like:

    For fetch endpoints:
    <script>
    api.fetch({
      resource: 'reports',
      success: function(reports) {
        me.set('reports', reports);
      }
    });
    </script>

    For save endpoints:
    <script>
    api.apiRoot.postReports(report).lastRequest.completes.then(function() {
      console.log('save success');
    });
    </script>
-->
<dom-module id="app-api">
  <template>
    <hateoas-ajax id="rootResource" url="[[ baseUrl ]]" last-response="{{ apiRoot }}"></hateoas-ajax>
    <iron-ajax id="status" url="[[ baseUrl ]][[ statusUri ]]" headers='{"noMask": true}'></iron-ajax>
    <iron-ajax id="logout" url="[[ baseUrl ]][[ logoutUri ]]"></iron-ajax>
    <content select="*">
    </content>
    <xhr-handler id="xhrHandler"></xhr-handler>
  </template>
  <!-- inline app-api.js -->
  <script type="text/javascript" src="app-api.js" inline></script>
</dom-module>
